<div>
  <h2>{{user.name}}</h2>
  {{error}}
  <img ng-src="{{user.avatar_url}}" title="{{user.name}}" /> Order:
  <select ng-model="reposortorder">
    <option value="+name">name</option>
    <option value="-stargazers_count">stars</option>
    <option value="+language">language</option>
  </select>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stars</th>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="repo in repos| orderBy:reposortorder">
      <td><a href= "#/repo/{{user.login}}/{{repo.name}}">{{repo.name}}</a></td>
      <td>{{repo.stargazers_count|number}}</td>
      <td>{{repo.language}}</td>
    </tr>
  </tbody>
</table>